In [18]:
i = 5
print(type(i))

<class 'int'>

In [635]:
f = 3.6
print(type(f))

<class 'float'>

In [19]:
s = "python_review.ipynb"
print(type(s))

<class 'str'>

In [637]:
c = 2+7j
print(type(c))

<class 'complex'>

In [638]:
b = False
print(type(b))

<class 'bool'>

In [639]:
print('a2'.isidentifier())

True

In [640]:
print('2a'.isidentifier())

False

In [641]:
print('_var'.isidentifier())

True

In [642]:
print('my_var'.isidentifier())

True

In [643]:
print('my$'.isidentifier())

False

In [644]:
from keyword import iskeyword
print(iskeyword('if'))

True

## Python Casting

In [645]:
i = 4
print(float(4), type(float(4)))

4.0 <class 'float'>

In [646]:
a = '15'
print(int(a)+ 1 , type(int(a)))

16 <class 'int'>

In [647]:
x = 4
y = 8
y, x = x, y
print('x = %d and y = %d' % (x, y))

x = 8 and y = 4

In [648]:
a = 1
b = 2
a, b = b, a + b
print(f'a = {a} and b = {b}')

a = 2 and b = 3

In [1]:
###################################################################
# Operators :

'''
Operators :
    Arithmetic : +,-,*,/,%,**,//   
    Assignment : =,+=,-=,*= ,/= ,%= ,//= ,**= 
    Comparison : ==,!=,>,<,>=,<=
    Logical    : and, or, not
    Membership : in , not in
    Bitwise    :  &, |, ^, ~, <<, >>
'''

'\nOperators :\n    Arithmetic : +,-,*,/,%,**,//   \n    Assignment : =,+=,-=,*= ,/= ,%= ,//= ,**= \n    Comparison : ==,!=,>,<,>=,<=\n    Logical    : and, or, not\n    Membership : in , not in\n    Bitwise    :  &, |, ^, ~, <<, >>\n'

In [649]:
print(17/ 2)
print(17// 2)
print(17 % 2)
print(3**2)

8.5
8
1
9

In [650]:
y = 4
y//= 2
print(y)

2

In [651]:
print(2 != 3)

True

In [652]:
print(1<3 and 4>5)

False

In [653]:
a = 20
print(bin(a))

0b10100

In [654]:
b = 9
print(bin(b))

0b1001

In [655]:
c = a|b
print(bin(c))
print(a|b)

0b11101
29

## Math

In [656]:
import math
print(math.sqrt(16))
print(math.trunc(4.7))
print(math.factorial(3))
print(math.log2(8))
print(math.fmod(17, 2))
print(math.fabs(-5))
print(math.pow(2, 4))
print(math.pi)

4.0
4
6
3.0
1.0
5.0
16.0
3.141592653589793

## random package

In [20]:
import random
print(random.randint(1,10))
print(random.choice([1, 10]))

6
1

## datetime package

In [21]:
import datetime
print(datetime.datetime.now())

2021-12-21 09:11:26.041959

In [2]:
###################################################################

'''
Control statements:
    if
    if else
    if elif
'''

'\nControl statements:\n    if\n    if else\n    elif\n'

In [3]:
import math
n = -9
if n < 0 :
   n = abs(n)
   
print(math.sqrt(n))        # 3.0

3.0

In [659]:
a = 3
b = 8
if a<b: 
    m = a
else:
    m = b
    
print(m)

3

In [660]:
# 'conditional expression'
m = a if a<b else b
print(m)

3

In [4]:
today = 'holiday'
b = 40

if today == 'holiday':
   if b > 50:
       print('shopping')
   else:
       print('watch TV')               # watch TV
else:
    print('normal working day')

watch TV

In [5]:
"""
    loop : 
          for 
          while
"""

'\n    loop : \n          for \n          while\n'

In [23]:
for i in range(3):
    print(i, end = ', ')

0, 1, 2,

In [662]:
for _ in range(3):
    print('hello')

hello
hello
hello

In [663]:
for i in range(6, 11, 2):
    print(i, end = ', ')

6, 8, 10,

In [664]:
for i in range(2, 5):
    for j in range(1, i):
        print(j, end=' ')
    print()

1
1 2
1 2 3

## string methods

In [9]:
s = 'python'

In [10]:
print(len(s))
print('th' in s)
print(s.islower())
print(s.isalpha())
print(s.isdigit())
print(s.find('o'))
print(s.count('o'))
print(s.title())
print(s.upper())
print(s.ljust(9, '*'))
print(s.startswith('py'))
print(s.replace('thon', 'ramid'))

6
True
True
True
False
4
1
Python
PYTHON
python***
True
pyramid

In [667]:
s = '$python$$'
print(s.strip('$'))
print(s.lstrip('$'))
print(s.rstrip('$'))

python
python$$
$python

In [668]:
s = 'Python created by Rossum'
print(s.split(' '))

['Python', 'created', 'by', 'Rossum']

In [13]:
l = '1,2,3,4,5'
print(l.split(','))
print([int(element) for element in l.split(',')])

['1', '2', '3', '4', '5']
[1, 2, 3, 4, 5]

In [670]:
b = ['Python', 'created', 'by', 'Rossum']
c = ' '.join(b)
print(c)

Python created by Rossum

In [671]:
s = 'python'
print(f'name: {s}')
print('name: {}'.format(s))
print('name: %s' % (s))
print('name:', s)

name: python
name: python
name: python
name: python

In [672]:
a = 'ehsan'
b = 'khodapanah'
print('name: {0}, last name: {1}'.format(a, b))

name: ehsan, last name: khodapanah

In [25]:
a = 34
b = 2.45
print('{:3d} {:4.1f}'.format(a, b))

 34  2.5

In [16]:
"""
    list
    'index' ,'count','insert','remove','pop','reverse' , 'sort' ,'extend'
    , 'append','clear','copy',...
    
"""

"\n    list\n    'index' ,'count','insert','remove','pop','reverse' , 'sort' ,'extend'\n    , 'append','clear','copy',...\n    \n"

In [674]:
a = [8, 2, 12]
print(type(a))
print(len(a))
print(a.index(2))
print(a[1])
a[1] = 7
print(a)

<class 'list'>
3
1
2
[8, 7, 12]

In [26]:
a = [13, 5, 39, 8, 6, 56]
print(a[1:4])
print(a[:3])
print(a[3:])
print(a[::-1])
print(a[:7:2])
print(a[-1:1])

[5, 39, 8]
[13, 5, 39]
[8, 6, 56]
[56, 6, 8, 39, 5, 13]
[13, 39, 6]
[]

In [676]:
child = ['saeed', 'ehsan']
for i in child:
    print(child)
    
# or
for i in range(len(child)):
    print(child[i])

['saed', 'ehsan']
['saed', 'ehsan']
saed
ehsan

In [677]:
a = [2, 3]
b = 2*a
print(b)

[2, 3, 2, 3]

In [678]:
a = [2, 5, 6, 19]
[x*2 for x in a]

[4, 10, 12, 38]

In [679]:
a = [1, 2, 3]
b = ['a', 'b']
c = a+b
print(c)

[1, 2, 3, 'a', 'b']

In [680]:
a = [15, 5, 6, 37]
print(max(a))
print(min(a))
print(sum(a))
print(a.count(5))

37
5
63
1

In [681]:
a.insert(2, 8)
print(a)
a.insert(-1, ['ehsan'])
print(a)

[15, 5, 8, 6, 37]
[15, 5, 8, 6, ['ehsan'], 37]

In [682]:
a[-1]

37

In [683]:
a.append(3)
print(a)

[15, 5, 8, 6, ['ehsan'], 37, 3]

In [684]:
a.remove(37)
print(a)

[15, 5, 8, 6, ['ehsan'], 3]

In [27]:
print(a.pop())
print(a)
print(a.pop(1))
print(a)

56
[13, 5, 39, 8, 6]
5
[13, 39, 8, 6]

In [686]:
del a[1]
print(a)

[15, 6, ['ehsan']]

In [18]:
a = [3, 7, 5, 4]
a.reverse()
print(a)

print(reversed(a))
type(reversed(a))
print(list(reversed(a)))

[4, 5, 7, 3]
[3, 7, 5, 4]
<list_reverseiterator object at 0x00000153A1A0AE80>

list_reverseiterator

In [688]:
a.sort()
print(a)

[3, 4, 5, 7]

In [3]:
a = [3, 7, 5, 4]
print(a.sort())
print(a)
a.sort(reverse = True)
print(a)

None
[3, 4, 5, 7]
[7, 5, 4, 3]

In [6]:
x = [1, 2]
y = ['a', 'b']
x.append(y)
print(x)
print(len(x))
z = (2, 4)
print(type(z))
print(x.append(z))
x

[1, 2, ['a', 'b']]
3
<class 'tuple'>
None

[1, 2, ['a', 'b'], (2, 4)]

In [691]:
x = [1, 2]
y = ['a', 'b']
x.extend(y)
print(x)
print(len(x))

[1, 2, 'a', 'b']
4

In [692]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a.clear()
print(a)
print(len(a))

[]
0

In [693]:
a = [1, 2, 3]
b = a.copy()
print(b)

[1, 2, 3]

In [694]:
a = []
for i in range(3):
    a.append(i)
print(a)

[0, 1, 2]

In [695]:
a = [i for i in range(3)]
print(a)

[0, 1, 2]

In [696]:
grade = [18, 20, 5, 4, 7]
a = [i for i in grade if i>10]
print(a)

[18, 20]

In [697]:
grade = [18, 20, 5, 4, 7]
a = []
for i in grade:
    if i > 10:
        a.append(i)
print(a)

[18, 20]

## Tuple:
len, index, sum, min, max, count, ...

In [7]:
t = ('English', 'Art', 'Mathematics')
print(type(t))
print(len(t))

<class 'tuple'>
3

In [699]:
print(t[1])
print(t[1:3])

print(t.index('Art'))
print('Art' in t)


try:
    t[0] = 'History'
except TypeError:
    print('Tuples are immutable.')

# t[0] = 'History'

Art
('Art', 'Mathematic')
1
True
Tuples are immutable.

In [10]:
t = (1, 7, 5)
print(sum(t))
print(max(t))
print(min(t))
print(t.count(9))

13
7
1
0

In [701]:
print(tuple(reversed(t)))

(5, 7, 1)

In [702]:
t = (1, 2)
a = list(t)
a.append(3)
t = tuple(a)
print(t)

(1, 2, 3)

In [703]:
t = (14, 7, 9 , 3)
a = list(t)
a.remove(3)
t = tuple(a)
print(t)

(14, 7, 9)

In [704]:
# unpack
t = ('red', 8)
x, y = t
print(x, y)

red 8

In [705]:
a = (1, 2)
b = ('x', 'y')
print(list(zip(a,b)))

[(1, 'x'), (2, 'y')]

In [706]:
x = [(1, 'x'), (2, 'y')]
u = zip(*x)
print(list(u))

[(1, 2), ('x', 'y')]

## Dictionary:
len, get, keys, values, items, pop, popitems, ...

In [707]:
d = {
    'brand': 'b',
    'model': 'm',
    'color': 'red',
    'year': 2020
}

e = dict(brand = 'b', model = 'm', color = 'red', year =2020)

In [708]:
print(d)
print(e)

{'brand': 'b', 'model': 'm', 'color': 'red', 'year': 2020}
{'brand': 'b', 'model': 'm', 'color': 'red', 'year': 2020}

In [11]:
d = dict(x = 14, y = 7, z = 32, w = 9)
print(type(d))
print(len(d))
print(d['y'])
print(d.get('w'))

<class 'dict'>
4
7
9

In [710]:
print(list(d.keys()))

['x', 'y', 'z', 'w']

In [13]:
print(list(d.values()))

[14, 7, 32, 9]

In [712]:
print(list(d.items()))

[('x', 14), ('y', 7), ('z', 32), ('w', 9)]

In [713]:
for k,v in d.items():
    print(k,':',v)

x : 14
y : 7
z : 32
w : 9

In [714]:
d.pop('y')
print(d)

{'x': 14, 'z': 32, 'w': 9}

In [715]:
d.popitem()
print(d)

{'x': 14, 'z': 32}

In [716]:
d.clear()
print(d)

{}

In [717]:
del d

In [718]:
# sort dictionary with regard to values
d = dict(x = 14, y = 7, z = 32, w = 9)
print(d)
import operator
k = operator.itemgetter(1) # change 1 to 0 if you want sort with regard to keys
print(sorted(d.items(), key = k))
print(type(sorted(d.items(), key = k)))

{'x': 14, 'y': 7, 'z': 32, 'w': 9}
[('y', 7), ('w', 9), ('x', 14), ('z', 32)]
<class 'list'>

In [719]:
d1 = {'x': 3, 'y': 2, 'z': 1}
d2 = {'w': 8, 't': 8}
d = d1.copy()
d.update(d2)
print(d)

#or
d = {**d1, **d2}
print(d)

{'x': 3, 'y': 2, 'z': 1, 'w': 8, 't': 8}
{'x': 3, 'y': 2, 'z': 1, 'w': 8, 't': 8}

In [720]:
#convert 2 list to a dictionary
k = ['a', 'b']
v = [4, 8]
z = zip(k,v)
d = dict(z)
print(d)

{'a': 4, 'b': 8}

In [15]:
# nested dict
my_family = {
    'parent1': {'name': 'hassan', 'age': 74},
    'parent2' : {'name': 'zahra', 'age': 70}
}
print(my_family)
print(my_family['parent1']['name'])
print(my_family.get('parent2'))
print(my_family.get('parent2').get('name'))

{'parent1': {'name': 'hassan', 'age': 74}, 'parent2': {'name': 'zahra', 'age': 70}}
hassan
{'name': 'zahra', 'age': 70}
zahra

In [722]:
my_info = {
    'name' : 'ehsan',
    'parents': ['hassan', 'mahrokh'],
    'phone': {'home': '041-3385', 'mobile': '0914-418'}
}
print(my_info)
print(len(my_info))
print(my_info['phone']['mobile'])
print(my_info['parents'][0])

{'name': 'ehsan', 'parents': ['hassan', 'mahrokh'], 'phone': {'home': '041-3385', 'mobile': '0914-418'}}
3
0914-418
hassan

## Set
len, add, update, remove, discard, pop, copy, clear, intersection, union, difference, update, issubset, isdisjoint, ...

In [723]:
S = {'a', 'e', 'o', 'i'}
print(type(S))
print(len(S))
print('u' in S)

<class 'set'>
4
False

In [724]:
S.add('u')
print(S)

{'i', 'o', 'u', 'a', 'e'}

In [725]:
S.remove('i')
print(S)

{'o', 'u', 'a', 'e'}

In [726]:
c = S.copy()
print(c)

{'a', 'o', 'e', 'u'}

In [727]:
a = [1, 4]
b = [4, 1]
print(a == b)

False

In [728]:
a = {1, 2, 3}
b = {3, 1, 2}
print(a == b)

True

In [729]:
S.clear()
print(S)
print(len(S))

set()
0

In [730]:
x = {1, 2, 3, 4, 5}
y = {2, 4}
print(x.intersection(y))
print(x & y)

{2, 4}
{2, 4}

In [731]:
print(x.union(y))
print(x | y)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [732]:
print(x.difference(y))
print(x - y)

{1, 3, 5}
{1, 3, 5}

In [733]:
x = {'A', 'M'}
y = {'A', 'C', 'M', 'F'}
print(x.issubset(y))

True

## Function define

In [734]:
def f():
    print('khodapanah')
f()

khodapanah

In [735]:
def g():
    return('khodapanah')
print(g())

khodapanah

In [736]:
def h(p):
    print(p)
h('khodapanah')

khodapanah

In [737]:
#find maxima
def f(x,y):
    if x>y:
        return x
    return y
def g(x,y,z):
    return f(x, f(y, z))
print(g(3, 8, 2))

8

In [738]:
x = 7
def func():
    global x
    print(x)
    x = 3
    print(x)
func()
print(x)

7
3
3

In [739]:
def f(a, b):
    a *= 2
    b += 3
    return a, b
x = 4
y = 6
m, n = f(x, y)
print(m , n)

8 9

In [740]:
def f(lst):
    lst[0] *= 2
    lst[1] /= 3
a = [4, 9]
f(a)
print(a[0])
print(a[1])

8
3.0

In [741]:
def h(my_dict):
    my_dict['x'] *= 2
    my_dict['y'] /= 3
d = {'x': 4, 'y': 9}
h(d)
print(d['x'])
print(d['y'])

8
3.0

In [742]:
def f(x):
    x = x+1
    print(x)
a = 1
f(a)
print(a)
print(f(a))

2
1
2
None

In [743]:
def test(x, y):
    print(x, y)

test(5, 2)
test(x = 5, y = 2)
test(y = 2, x = 5)
test(5, y = 2)

5 2
5 2
5 2
5 2

In [16]:
def f(*, x :int = 8) -> None:
    print(x)
f()
f(x = 2)
f(x = 3)
f(3)

8
2
3

TypeError: f() takes 0 positional arguments but 1 was given

In [745]:
def add_more(a, b, *c):
    print(a + b + sum(c))

add_more(5, 2, 7)
add_more(5, 2, 7, 8, 12)
add_more(2, 6)

14
34
8

In [746]:
def f(*x, y = '.'):
    return y.join(x)
print(f('ali', 'reza'))
print(f('ali', 'reza', 'sara', y = '/'))

ali.reza
ali/reza/sara

In [747]:
def test(a, *, b = 7, c = 9):
    print(a, b, c)
test(5)
test(1, b = 4)
# test(1, b = 2, 6)
# test(1, 3, c= 4)

5 7 9
1 4 9

In [748]:
def f(a, b, *c, **d): 
    print(a)
    print(b)
    print(c)
    print(d)
    
f(3, 4, 7, 1, 6, x = 5, y = 7, z = 9)

3
4
(7, 1, 6)
{'x': 5, 'y': 7, 'z': 9}

In [749]:
def count_char(s):
    d = {}
    for i in s:
        if i in d.keys():
            d[i] += 1
        else:
            d[i] = 1
    return d
print(count_char('abbcfab'))

{'a': 2, 'b': 3, 'c': 1, 'f': 1}

In [751]:
a = [1, 2, 3, 1, 4, 2]
def unique_list(lst):
    r = []
    for i in lst:
        if i not in r:
            r.append(i)
    return r
print(unique_list(a))

[1, 2, 3, 4]

In [752]:
def unique_list2(lst):
    return list(set(lst))
print(unique_list2(a))

[1, 2, 3, 4]

## PEP 484 standard for Functions

In [753]:
def greeting(name: str) -> str:
    return 'Hello ' + name
print(greeting('ehsan'))

Hello ehsan

In [754]:
def add(x: int, y: int) -> int:
    '''
    sum of two intiger number
    '''
    print(x + y)
add(2, 3)

5

In [755]:
print(add.__annotations__)

{'x': <class 'int'>, 'y': <class 'int'>, 'return': <class 'int'>}

In [756]:
print(add.__doc__)

    sum of two intiger number

## Recursive Functions

In [17]:
'''
iterative:
            n! = 1*2*3*...*n
            
recursive:
            n! = n * (n-1)!
            1! = 1

4! = 4 * 3! = 4 * 6 = 24
3! = 3 * 2! = 3 * 2 = 6
2! = 2 * 1! = 2 * 1 = 2
1! = 1

'''

'\niterative:\n            n! = 1*2*3*...*n\n            \nrecursive:\n            n! = n * (n-1)!\n            1! = 1\n\n4! = 4 * 3! = 4 * 6 = 24\n3! = 3 * 2! = 3 * 2 = 6\n2! = 2 * 1! = 2 * 1 = 2\n1! = 1\n\n'

In [757]:
def fact_recursive(n):
    if n == 1:
        return 1
    else:
        return n * fact_recursive(n-1)
print(fact_recursive(4))

24

In [758]:
def f(n, base):
    s = '0123456789ABCDEF'
    if n < base:
        return s[n]
    else:
        return f(n // base, base) + s[n % base]
print(f(25, 16))
'''
f(25, 16) = f(1, 16) + s[9] = 1 + 9 = 19
f(1, 16) = s[1] = 1
'''

19

'\nf(25, 16) = f(1, 16) + s[9] = 1 + 9 = 19\nf(1, 16) = s[1] = 1\n'

In [759]:
print(f(8, 2))

1000

In [761]:
def binary_search(lst: list, x:int, start:int = 0, end: int = None):
    if end is None:
        end = len(lst) - 1
    if start > end:
        return False
    mid = (start + end) // 2
    if x == lst[mid]:
        return mid
    if x < lst[mid]:
        return binary_search(lst, x, start, mid - 1)
    return binary_search(lst, x, mid + 1, end)

a = [2, 4, 7, 12, 19, 25, 38]
print(binary_search(a, 19))
print(binary_search(a, 4))
print(binary_search(a, 40))
print(a.index(19))

4
1
False
4

## Lambda Function
instead of using def keyword to define functions we could use lambda to define 1 row functions.

In [763]:
add = lambda x, y : x* y
print(add(2, 3))

6

## Map Function
function returns a map object(which is an iterator) of the results after applying the given function to each item of a given iterable (list, tuple etc.)

In [767]:
lst = ['ALI', 'REZA']
a = list()
for i in lst:
    x = i.lower()
    a.append(x)
print(a)

['ali', 'reza']

In [768]:
print(list(map(str.lower, lst)))

['ali', 'reza']

In [769]:
a = ['ehsan', 'saeed']
b = [20, 16]
print(list(zip(a,b)))

[('ehsan', 20), ('saeed', 16)]

In [770]:
print(list(map(lambda x, y: (x, y), a, b)))

[('ehsan', 20), ('saeed', 16)]

In [771]:
a = [1, 3]
b = [2, 4]
print(list(map(lambda x, y: (x+y), a, b)))

[3, 7]

In [772]:
a = [16, 7, 14, 6]
print(list(map(lambda x: x<10, a)))

[False, True, False, True]

### If we want to see the result in not true & false

In [773]:
a = [16, 7, 14, 6]
print(list(filter(lambda x: x<10, a)))

[7, 6]

In [774]:
# show not None values in list of
a = [16, 7, '', 6, '', 18]
print(list(filter(None, a)))

[16, 7, 6, 18]